
QWidget#title_screen{
    background-color: #556fc5;
}

QWidget#score_screen{
    background-color: #556fc5;
}

QLabel{
    font-size: 22px;
}

QPushButton{
    border: 2px solid #000000;
    border-radius: 3px;
    background-color: #3a3a81;
    font-size: 16px;
    height: 100%;
}

QPushButton#back_button{
    border: 2px solid #000000;
    height: 15%;
}

QLineEdit{
    background: #556fc5;
    border: 0px;
    font-size: 15px;
}