:root{
    --font-color: rgb(202, 198, 198);
}

a{  
    color: var(--font-color);
    font-size: 22px;
}

img{
    width: 100%;
    border-radius: 10px;
}

p{
    font-size: 16px;
}

body {
    background: linear-gradient(rgb(59, 59, 59), rgb(32, 19, 43), black);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


.card-footer{
    text-align: right;
    margin-right: 6px;
}

.top-buffer{
    margin-top: 100px;
}