/*
page width+equal margins: check
variables for bg color and text color: check
line-height on <p>: check
text-transform on <h1> to uppercase: check
justify <p>: check
italics: check
bold: check
underline: check
strikethrough: check
horizontal line: check
header image: check
*/

:root{
    --page-color: rgb(117, 65, 65);
    --text-color: rgba(34, 22, 22, 0.993);
}

#header-img{
    width: 40%;
    margin: 40px;
    padding-left: 25%;
}

html{
    font-size: 22px;
}

body{
    background-color: var(--page-color);
    color: var(--text-color);
    margin: 2rem 4rem;
    width: 90%;
}

p{
    line-height: 2.2rem;
    text-align: justify;
}

h1{
    color: black;
    text-transform: uppercase;
    text-align:center;
}

h4{
    color: black;
}

hr{
    height:1px;
    background-color: var(--text-color);
    border: none;
}   

ul{ 
    list-style-type: none;
    line-height: 2.2rem;
}

/* changes the dot from the list into a dash */
ul > li:before{
    content: '-';
    position: absolute;
    margin-left: -1em;
}

